@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 fw-bold pt-3">Herramientas online para calculo </h1>
<hr>

<div class="container herramientas mt-5">
    <div class="row row-cols-1 row-cols-md-3 gx-1">
        <div class="col">
            <div class="card h-100 columna-herramientas">
                <div class="card-body">
                    <div class="icon"><img src="img/algebra.png" class="icon-img" alt="Icon"></div>
                    <h5 class="card-title text-bold titulo-habilidad fw-bold mt-3 mb-4">Calcular <br /> Ecuaciones Cuadraticas</h5>
                    <div class="r">
                        <a class="btn btn-primary" href="EcuacionesCuadraticas/Calcular" rel="noopener noreferrer">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 columna-herramientas">
                <div class="card-body">
                    <div class="icon"><img src="img/velocimetro.png" class="icon-img" alt="Icon"></div>

                    <h5 class="card-title text-bold titulo-habilidad fw-bold mt-3 mb-4">Calculadora <br /> Velocidad Promedio</h5>
                    <div class="">
                        <a class="btn btn-primary" href="" rel="noopener noreferrer">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 columna-herramientas">
                <div class="card-body">
                    <div class="icon"><img src="img/ruta.png" class="icon-img" alt="Icon"></div>
                    <h5 class="card-title text-bold titulo-habilidad fw-bold mt-3 mb-4">Calcular <br /> Distancia recorrida</h5>
                    <div class="">
                        <a class="btn btn-primary" href="" rel="noopener noreferrer">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card h-100 columna-herramientas">
                <div class="card-body">
                    <div class="icon"><img src="img/ruta.png" class="icon-img" alt="Icon"></div>
                    <h5 class="card-title text-bold titulo-habilidad fw-bold mt-3">NANANANA</h5>
                    <p class="card-text">NANANANANAN</p>
                    <div class="">
                        <a class="btn btn-primary" href="" rel="noopener noreferrer">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card h-100 columna-herramientas">
                <div class="card-body">
                    <div class="icon"><img src="img/ruta.png" class="icon-img" alt="Icon"></div>
                    <h5 class="card-title text-bold titulo-habilidad fw-bold mt-3">NANANANA</h5>
                    <p class="card-text">NANANANANAN</p>
                    <div class="">
                        <a class="btn btn-primary" href="" rel="noopener noreferrer">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card h-100 columna-herramientas">
                <div class="card-body">
                    <div class="icon"><img src="img/ruta.png" class="icon-img" alt="Icon"></div>
                    <h5 class="card-title text-bold titulo-habilidad fw-bold mt-3">NANANANA</h5>
                    <p class="card-text">NANANANANAN</p>
                    <div class="">
                        <a class="btn btn-primary" href="" rel="noopener noreferrer">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
