@model DatosVelocidad

@{
    ViewData["Title"] = "Calculadora";
}

<div class="container-fluid" style="max-width: 75%;">
    <h1>Calculadora de Velocidad Promedio</h1>
    <p>Esta calculadora determina la velocidad promedio utilizando la fórmula:</p>
    <p style="text-align: left;">\[ \text{Velocidad Promedio} = \frac{\text{Velocidad Inicial} + \text{Velocidad Final}}{2} \]</p>


    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="VelocidadPromedio" asp-action="Calcular">
        <div class="mb-3 row">
            <div class="col-4">
                <label asp-for="VelocidadInicial" class="form-label fw-bold"></label>
                <input type="text" asp-for="VelocidadInicial" class="form-control" />
                <span asp-validation-for="VelocidadInicial" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="VelocidadFinal" class="form-label fw-bold"></label>
                <input type="text" asp-for="VelocidadFinal" class="form-control" />
                <span asp-validation-for="VelocidadFinal" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Tiempo" class="form-label fw-bold"></label>
                <input type="text" asp-for="Tiempo" class="form-control" />
                <span asp-validation-for="Tiempo" class="text-danger"></span>
            </div>
        </div>
        <script type="text/javascript" async
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: { inlineMath: [['$', '$'], ['\\(', '\\)']] }
            });
        </script>


        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>

    <div class="mt-5">
        @if (ViewBag.Resultado != null)
        {
            <h2>Resultado:</h2>
            <p>Velocidad Promedio: \( @ViewBag.Resultado \)</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
