body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5FA;
}


columna-herramientas cardimg {
    font-size: 2.5rem;
    background-color: #1b1b32;
    color: #00ABF0;
    padding: 8px 19px;
    border-radius: 50%;
}

.columna-herramientas {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 20px;
    margin: 0rem 2rem;
    border-radius: 0.75rem;
}



.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.icon-img {
    width: 40px;
}
